$soft-red: hsl(10, 79%, 65%);
$dark-brown: hsl(25, 47%, 15%);
$Cyan: hsl(186, 34%, 60%);
$medium-brown: hsl(28, 10%, 53%);



.barchart-container {
  position:relative;
  margin: 5px 5px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 14px;
    margin: 10px 5px;
    color: $medium-brown;
  }

  .price {
    position: absolute;
    top: -2.3rem;
    left: -0.8rem;
    border-radius: 5px;
    padding: 0.3rem;
    color: white;
    background: $dark-brown;
  }

  .price-null{
      display: none;
  }
  .blue{
      background: $Cyan;
  }
}


.barchart {
  margin: auto;
  border-radius: 5px;
  width: 100%;
  background: $soft-red;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    
  }
}


